<header class="page-header md-display-2">多集群</header>
<div layout="row">
  <section class="multicluster-search">
    <form ng-submit="vm.searchClusters()">
      <md-input-container md-no-float layout="row">

        <div>
          <input type="text" placeholder="关键字" ng-model="vm.keyword">
        </div>
        <md-button class="md-icon-button" type="submit" aria-label="Search">
          <i class="fa fa-search"></i>
        </md-button>

      </md-input-container>
    </form>

    <ul>
      <li ng-repeat="cluster in vm.clusters track by $index"><a href="#">集群名</a></li>
    </ul>
  </section>

  <section flex class="multicluster-result">
    <ul ng-show="vm.apps.length">
      <li ng-repeat="app in vm.apps track by $index">
        <h3><a
          ng-href="{/vm.swanBase/}/app{/'?cluster=' + app.param.clusterID + '&user=' + app.param.runAs + '&app=' + app.param.appName/}"
          target="_blank">{/app.ID/}</a></h3>
        <div class="list-dl-h" layout="column">
          <dl layout="row">
            <dt>访问地址</dt>
            <dd>
              <a ng-href="http://{/app.formatID/}.{/vm.appDomain/}" target="_blank">http://{/app.formatID/}.{/vm.appDomain/}</a>
            </dd>
          </dl>
          <dl layout="row">
            <dt>CPU
              <small>申请/占用</small>
            </dt>
            <dd>???/??? <a
              ng-href="{/vm.monitorBase/}{/'?cluster=' + app.param.clusterID + '&user=' + app.param.runAs + '&app=' + app.param.appName + '&start=' + vm.start + '&end=' + vm.end + '&metric=cpu'/}"
              target="_blank"><i class="fa fa-line-chart"></i></a></dd>
          </dl>
          <dl layout="row">
            <dt>内存
              <small>申请/占用</small>
            </dt>
            <dd>???/??? <a
              ng-href="{/vm.monitorBase/}{/'?cluster=' + app.param.clusterID + '&user=' + app.param.runAs + '&app=' + app.param.appName + '&start=' + vm.start + '&end=' + vm.end + '&metric=memory'/}"
              target="_blank"><i class="fa fa-line-chart"></i></a></dd>
          </dl>
          <dl layout="row">
            <dt>
              <a
                ng-href="{/vm.swanBase/}/task{/'?task=0' + '&cluster=' + app.param.clusterID + '&user=' + app.param.runAs + '&app=' + app.param.appName/}"
                target="_blank">0-{/app.ID/}</a>
            </dt>
          </dl>
        </div>
      </li>
    </ul>
    <div ng-hide="vm.apps.length">暂无应用</div>
  </section>
</div>
